<div class="footer-container">
  <footer class="d-flex justify-content-between align-items-center">
      <div class="col-md-6 col-sm-6 align-items-center">
        <span class="main-font">© Gary O'Shea, <%= new Date().getFullYear() %></span>
      </div>

      <ul class="nav col-md-6 col sm-6 justify-content-end list-unstyled d-flex">
        <li class="ms-0"><a class="text-body-secondary" href="https://twitter.com/drgaryoshea"><svg class="bi" width="12" height="24"><i class="fa-brands fa-x-twitter"></i></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/drgaryoshea"><svg class="bi" width="1" height="24"><i class="fa-brands fa-instagram"></i></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/garyoshea"><svg class="bi" width="1" height="24"><i class="fa-brands fa-facebook"></i></use></svg></a></li>
        <li class="ms-1"><a class="text-body-secondary" href="https://www.youtube.com/garyoshea"><svg class="bi" width="12" height="24"><i class="fa-brands fa-youtube"></i></svg></a></li>
      </ul>
  </footer>
</div>
</html>