<!-- Import header with navbar -->
<%- include("partials/header.ejs") %>
<body>
    <!-- Biography page -->
<div class="biog-frame">
    <div class="biog-text">
        <div class="biog-pic-container">
            <img src="images/garyphoto.jpg" alt="Photo of Gary by bookcase" class="biog-photo">
        </div>
        <p>Pianist Gary O’Shea was born on the Wirral and took private lessons from Eva Warren, before gaining a performance scholarship at the University of Wales, Bangor, where he studied under Jana Frenklova. Upon graduating, he scooped the performance prize with the highest recital mark in the University’s history. He then completed his doctoral studies with Professor Peter Hill and Benjamin Frith at the University of Sheffield. As a performer he divides his time between solo, concerto and chamber music repertoire, and performs an eclectic range of music from the baroque period through to music of the twentieth century.</p>
        <p>He has played in several ensembles such as piano trios and quartets, as well as giving piano duet recitals with established figures such as Peter Hill and Alan Cuckston. He was described in the Sheffield Telegraph as ‘highly talented’, and Peter Hill labelled him ‘a fine pianist’.</p>
        <p>Gary specialises in twentieth-century Russian/Soviet music, his thesis topic being the piano works of Serge Prokofiev. He has written articles on the composer, as well as giving numerous talks at both national and international conferences. He currently holds several piano teaching posts including one at Bangor University, guiding undergraduate and postgraduate students. He has delivered many lectures and seminars, ranging from topics on Monteverdi and Bach, to Ravel, Prokofiev and Shostakovich. He has written numerous concert reviews across numerous publications.</p>
        <p>In his spare time, Gary enjoys cycling and watching football, holding a season ticket for Everton FC. He is interested in coding and technology in general, as well as attending talks on science and skepticism.</p>
    </div>
</div>
</body>
<!-- Import footer -->
<%- include("partials/footer.ejs") %>