<!-- Import header -->
<%- include("partials/header.ejs") %>
<body>
  <div class="apps-frame">
    <div class="apps-text">
      <p>
        Here are the projects I have been working on. My aim is to combine my
        experience in teaching music, and my skills as a developer, to produce
        apps to aid with learning. View the source code for these projects and
        others <a href="https://github.com/ConForza/">on my GitHub</a>.
      </p>

      <!-- App links in grid format -->
      <div class="grid-container">
        <div class="app-link">
          <a href="/apps/classical-music-database"
            ><img class="app-snapshot" src="images/cmd-snapshot.png"
          /></a>
          <a href="/apps/classical-music-database"
            ><span class="main-font app-text">Classical Music Database</span></a
          >
        </div>
        <div class="app-link">
          <a href="/apps/scales-helper"
            ><img class="app-snapshot" src="images/sh-snapshot.png"
          /></a>
          <a href="/apps/scales-helper"
            ><span class="main-font app-text">Scales Helper</span></a
          >
        </div>
        <div class="app-link">
          <a href="https://conforza.github.io/Note-game/"
            ><img class="app-snapshot" src="images/ng-snapshot.png"
          /></a>
          <a href="https://conforza.github.io/Note-game/"
            ><span class="main-font app-text">Note Game</span></a
          >
        </div>
      </div>
    </div>
  </div>
</body>
<!--Import footer -->
<%- include("partials/footer.ejs") %>
