<!-- Import header -->
<%- include("partials/header.ejs") %>
<body>
<!-- Import Google contact form -->
<div class="contact-frame">
  <div class="contact-text">
    <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLScrwwk1mYDE2QN1hOBUvlW38Ob0iYwbHQBrhb1zVzoh6LVKmw/viewform?embedded=true" height="813" width="1300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
</body>
<!-- Import footer -->
<%- include("partials/footer.ejs") %>