<%- include("partials/header.ejs") %>
<body>
<div class="rep-container">
    <div class="logo-container">
        <div class="rep-logo">
            <i class="fa-solid fa-music"></i>
        </div>
    </div>
    <div class="rep-items-container">
        <div class="rep-item">
            <h5 class="rep-head">Concerto</h5>
                <ul>
                    <li>Beethoven Piano Concerto No. 1 in C major</li>
                    <li>Beethoven Piano Concerto No. 3 in C minor</li>
                    <li>Beethoven “Triple” Concerto</li>
                    <li>Beethoven Choral Fantasy</li>
                    <li>Grieg Piano Concerto</li>
                    <li>Prokofiev Piano Concerto No. 3 in C major</li>
                    <li>Schumann Piano Concerto</li>
                </ul>
        </div>
        <div class="rep-item">
            <h5 class="rep-head">Recital</h5>
                <ul class="list-composer">
                    <li><h6>J.S. Bach</h6></li>
                        <ul>
                            <li>Partitas 1, 2 and 6</li>
                            <li>Selection of preludes and fugues</li>
                        </ul>
                    <li><h6>Ludwig van Beethoven</h6></li>
                        <ul>
                            <li>Sonata in F minor op. 2 no. 1</li>
                            <li>Sonata in A major op. 2 no. 2</li>
                            <li>Sonata in C major op. 2 no. 3</li>
                            <li>Sonata in F major op. 10 no. 2</li>
                            <li>Sonata in E major op. 14 no. 1</li>
                            <li>Sonata in G major op. 14 no. 2</li>
                            <li>Sonata in B flat op. 22</li>
                            <li>“Moonlight” Sonata in C Sharp Minor, op. 27 no. 2</li>
                            <li>Sonata in A flat major, op. 26</li>
                            <li>"Waldstein" Sonata in C major, op. 53</li>
                            <li>“Appassionata” Sonata in F minor, op. 57</li>
                            <li>Bagatelles, op. 126</li>
                        </ul>
                    <li><h6>Alban Berg</h6></li>
                        <ul>
                            <li>Sonata, op. 1</li>
                        </ul>  
                    <li><h6>Fryderyk Chopin</h6></li>
                        <ul>
                            <li>Sonata in B minor op. 58</li>
                            <li>Ballade in G minor, op. 23</li>
                            <li>Ballade in F major, op. 38</li>
                            <li>Preludes, nocturnes, études, mazurkas, and waltzes (selections)</li>
                        </ul>
                    <li><h6>Claude Debussy</h6></li>
                        <ul>
                            <li>Selection of preludes</li>
                        </ul>
                    <li><h6>Edvard Grieg</h6></li>
                        <ul>
                            <li>Sonata in E minor, op. 7</li>
                        </ul>
                    <li><h6>Joseph Haydn</h6></li>
                        <ul>
                            <li>Sonata in C major, Hob XVI:50</li>
                            <li>Variations in F minor, Hob XVII:6</li>
                        </ul>
                    <li><h6>Felix Mendelssohn</h6></li>
                        <ul>
                            <li>Variations sérieuses, op. 54</li>
                        </ul>
                    <li><h6>Olivier Messiaen</h6></li>
                        <ul>
                            <li>Préludes</li>
                        </ul>
                    <li><h6>Wolfgang Amadeus Mozart</h6></li>
                        <ul>
                            <li>Fantasia in D minor, K. 397</li>
                            <li>Sonata in A minor, K. 310</li>
                        </ul>
                    <li><h6>Modest Mussorgsky</h6></li>
                        <ul>
                            <li>Pictures at an Exhibition</li>
                        </ul>
                    <li><h6>Helen Perkin</h6></li>
                        <ul>
                            <li>Preludes</li>
                        </ul>
                    <li><h6>Serge Prokofiev</h6></li>
                        <ul>
                            <li>Sonata no. 2 in D minor</li>
                            <li>Sonata no. 4 in C minor</li>
                            <li>Sonata no. 5 in C major</li>
                            <li>Sonata no. 7 in B flat major</li>
                            <li>Sonata no. 8 in B flat major</li>
                            <li>Selection of Visions fugitives, op. 22</li>
                            <li>Tales of an Old Grandmother, op. 31</li>
                        </ul>
                    <li><h6>Sergei Rachmaninov</h6></li>
                        <ul>
                            <li>Corelli variations</li>
                            <li>Selection of preludes</li>
                        </ul>
                    <li><h6>Maurice Ravel</h6></li>
                        <ul>
                            <li>Sonatine</li>
                        </ul>
                    <li><h6>Domenico Scarlatti</h6></li>
                        <ul>
                            <li>Selection of sonatas</li>
                        </ul>
                    <li><h6>Robert Schumann</h6></li>
                        <ul>
                            <li>Papillons, op. 11</li>
                            <li>Études symphoniques, op. 13</li>
                            <li>Fantasiestücke, op. 12</li>
                            <li>Arabeske in C, op. 18</li>
                        </ul>
                    <li><h6>Dmitri Shostakovich</h6></li>
                        <ul>
                            <li>Selection of preludes and fugues</li>
                        </ul>
                </ul>
        </div>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>