<%- include("partials/header.ejs") %>
<body>
<div class="research-container">
    <div class="research-items-container">
        <div class="research-item">
            <h5 class="research-head">Teaching</h5>
                <ul>
                    <li>Russian Music of the Twentieth Century (University of Sheffield)</li>
                    <li>Solo Performance (University of Sheffield)</li>
                    <li>Piano Accompaniment (University of Sheffield)</li>
                    <li>Piano/Ensemble Tutor (University of Sheffield/Bangor University)</li>
                </ul>
        </div>
        <div class="research-item">
            <h5 class="research-head">Articles</h5>
                <ul>
                    <li>'“A Permanent Influence”: How Beethoven Had an Impact on Prokofiev’s Piano Writing’, The Musical Times, Autumn 2015, pp. 49–62</li>
                    <li>'The Path to Originality in Prokofiev’s Early Piano Works’, Three Oranges: the Journal of the Serge Prokofiev Foundation, 24, November 2012, pp. 23–29</li>
                    <li>Review of Tomoff, Kirill: Virtuosi Abroad: Soviet Music and Imperial Competition During the Early Cold War, 1945–1958 (New York: Cornell, 2015) in The Musical Times, Summer 2016, pp. 119–120</li>
                    <li>Review of Fairclough, Pauline: Classics for the masses: shaping Soviet musical identity under Lenin and Stalin in The Musical Times, Spring 2017</li>
                    <li>Review of Frolova-Walker, Marina: Stalin’s music prize: Soviet culture and politics in The Musical Times, Spring 2017</li>
                </ul>
        </div>
        <div class="research-item">
            <h5 class="research-head">Conferences/Talks</h5>
                <ul>
                    <li>November 2008 – University of London, Goldsmiths conference, Exploring National Identity in Musical Culture: ‘Investigating the Effect of Prokofiev’s Move to the West on his Piano Works’</li>
                    <li>November 2009 – American Musicological Society, Philadelphia: ‘Exploring the Effect of Prokofiev’s Move to America on his Piano Writing’</li>
                    <li>January 2010 – Sheffield Gramophone Society: ‘Prokofiev the Performer’</li>
                    <li>September 2013 – Music Since 1900 Conference, Liverpool Hope University: ‘A ‘Dictionary of Idioms’: The Path to Originality in Prokofiev’s Early Piano Works’</li>
                    <li>February 2015 – London International Piano Symposium: ‘A Permanent Influence’: How Beethoven Had an Impact on Prokofiev’s Piano Writing</li>
                </ul>
        </div>
    </div>
    <div class="logo-container">
        <div class="research-logo">
            <i class="fa-solid fa-book"></i>
        </div>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>