html {
    font-size: 1em;
}

.header-container {
    background-color: #F0F0F0;
    width: 700px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.home-body {
    background-image: url("/images/gary-painting.jpg");
    background-repeat: no-repeat;
    background-color: #A2937E;
    background-size: 100%;
}

.home-title-container {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: right;
    right: 5%;
    top: 16%;
    color: white;
    font-size: 3.5rem;
    text-shadow:3px 3px 6px black; 
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.main-font {
    font-family: 'Jost', sans-serif;
}

.head-font {
    text-transform: uppercase;
    color: #213555;               
}

.head-text-container {
    text-align: center;
    padding-top: 20px;
}

head {
    background-color: #E5D283;
}

#header-navbar {
    font-family: 'Jost', sans-serif;
    font-weight: 600 !important;
    :hover {
        color: #213555;
    }
}

#header-navbar a {
    color: #7D7C7C;
}

.nav-link.active {
    color: #213555 !important;
}

.nav-link.home {
    color: #27374D !important;
}

#navigation {
    font-weight: 900 !important;
    margin-right: 20px;
    :hover {
        color: white;
    }
  } 

.br-mobile {
    display: none;
}

.main-body {
    background-color: #213555;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.header-bubble {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: 90%;
}

.biog-photo {
    width: 300px;
    margin: 10px;
    border-radius: 100%;
    float: right;
}

.biog-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #213555;
    padding-bottom: 70px;
    margin-top: 40px;
    max-width: 1000px;
}

.biog-text {
    width: 100%;
    background-color: #F0F0F0;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.footer-container {
    width: 100%;
    background-color: #213555;
    margin-top: auto;
}

footer {
    display: flex;
    background-color: #F0F0F0;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.concert-heading {
    color: #F0F0F0;
    margin-left: 10px;
}

.concert-link {
    margin-left: 10px;
    color: #F0F0F0;
    font-style: italic;
}

.concert-title {
    color: #213555;
}

.concert-list {
    padding-left: 20px;
    list-style: none;
}

.concert-composer {
    color: #213555;
    margin-top: 15px;
    margin-bottom: 0; 
}

.concert-work {
    list-style: none;
    padding-left: 20px;
}

.concerts-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
    max-width: 1000px;
}

.events-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.logo-container {
    color: #F0F0F0;
}

.concert-event {
    margin: 20px 10px;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
}

.events-logo {
    font-size: 15rem;
    margin: 40px;
}

.research-logo {
    font-size: 15rem;
    margin: 40px;
}

.research-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
    max-width: 1000px;
}

.research-items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.research-item {
    margin: 20px 10px;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
}

.research-head {
    color: #213555;
}

.rep-logo {
    font-size: 15rem;
    margin: 40px;
}

.rep-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
    max-width: 1000px;
}

.rep-items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.rep-item {
    margin: 20px 10px;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
}

.rep-item > ul {
    list-style-type: none;
}

.rep-head {
    color: #213555;
}

.list-composer {
    list-style-type: none;
    padding-left: 15px;
}

.list-composer > li {
    margin-top: 20px;
}

.list-composer > li > h6 {
    color: #213555
}

.list-composer > ul {
    list-style-type: none;
}

.blog-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #213555;
    padding-bottom: 30px;
    margin-top: 40px;
    max-width: 1000px;
}

.blog-heading-frame {
    width: 100%;
}

.blog-text {
    width: 100%;
    flex-direction: row;
    background-color: #F0F0F0;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.blog-link {
    justify-content: flex-end;
}

.blog-heading {
    color: #F0F0F0;
    margin-left: 10px;
}

.blog-title {
    color: #213555;
}

.blog-timestamp {
    font-size: 0.8em;
    color: #213555;
    font-style: italic;
    margin-bottom: 0;
}


.page-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.page-buttons {
    font-size: 2em;
}

.disabled-btn {
    pointer-events: none;
    > i {
        color: #808080;
    }
}

.page-buttons > a {
    padding: 10px;
    color: #F0F0F0;
}

#page-number {
    color: #F0F0F0;
    padding: 10px;
}

.contact-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #213555;
    padding-bottom: 70px;
    margin-top: 40px;
    max-width: 1000px;
}

.contact-text {
    width: 100%;
    flex-direction: row;
    background-color: #F0F0F0;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.contact-text > form > div {
    margin: 20px 0px;
}

.form-group > label {
    margin-bottom: 5px;
}

.apps-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #213555;
    padding-bottom: 70px;
    margin-top: 40px;
    max-width: 1000px;
}

.apps-text {
    width: 100%;
    flex-direction: row;
    background-color: #F0F0F0;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.grid-container {
    margin-top: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.app-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app-snapshot {
    width: 100%;
}

.app-text {
    color: #213555;
    font-size: 1.1em;
}

.app-link > a {
    text-decoration: none;
}

.app-link a:hover img{
    border-color: #213555;
}

.app-link a img {    
    border: 2px solid #808080;
}

a {
    color: #3876BF;
}

.painting-acknowledgements {
    width: 100%;
    position: fixed;
    bottom: 8px;
    text-align: right;
}

#acknowledgement {
    color: #F0F0F0;
    font-size: 0.8em;
    text-shadow: 3px 3px 6px black;
    padding: 0 10px;
}

footer {
    padding: 25px 30px;
}

@media screen and (max-width: 1100px) {
    .biog-photo {
        width: 35%;
    }

    .concerts-container {
        width: 80%;
        gap: 25px;
    }

    .events-logo{
        font-size: 12rem;
    }

    .biog-text {
        width: 90%;
    }

    .rep-container {
        width: 80%;
        gap: 25px;
    }

    .rep-logo{
        font-size: 12rem;
    }

    .research-container {
        width: 80%;
        gap: 25px;
    }

    .research-logo{
        font-size: 12rem;
    }

    .blog-text {
        width: 90%;
    }

    .blog-heading-frame {
        width: 90%;
    }

    .contact-frame {
        width: 90%;
    }

    .apps-frame {
        width: 90%;
    }
  }

@media screen and (max-device-width: 800px) {
    .home-title-container {
        top: 6%;
        text-align: right;
    }

    .br-mobile {
        display: block;
    }

    .biog-photo {
        width: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header-bubble {
        margin-top: 30px;
    }

    .concerts-container {
        width: 90%;
        gap: 20px;
        margin-top: 0;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .concert-event {
        margin-top: 10px;
    }

    .events-logo {
        font-size: 10rem;
        margin: 0;
    }

    .logo-container {
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .events-container {
        margin-top: 0;
    }

    .rep-container {
        width: 90%;
        gap: 20px;
        margin-top: 0;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .rep-logo {
        font-size: 10rem;
        margin: 0;
    }

    .rep-items-container {
        margin-top: 0;
    }

    .research-container {
        width: 90%;
        gap: 20px;
        margin-top: 0;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .research-logo {
        font-size: 10rem;
        margin: 0;
    }

    .research-items-container {
        margin-top: 0;
    }

    .app-text {
        font-size: 0.9em;
    }
  }

  @media screen and (max-device-width: 500px) {
    body {
        font-size: 200%;
    }

    h1, h2, h3, h4, h5, h6, h7 {
        font-size: 150%;
    }

    .home-title-container {
        top: 3%;
        max-block-size: 10px;
    }

    .biog-text {
        width: 95%;
    }

    .biog-photo {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-bubble {
        width: 95%;
        margin-top: 10px;
    }

    .header-container {
        width: 100%;
    }

    .concerts-container {
        width: 95%;
    }

    .logo-container {
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .br-mobile {
        display: block;
    }

    .blog-text {
        width: 95%;
    }

    .blog-heading-frame {
        width: 95%;
    }

    .blog-frame {
        padding-bottom: 20px;
    }

    .rep-item {
        margin: 10px 0px;
    }

    .research-container {
        width: 95%;
    }

    .rep-container {
        width: 95%;
    }

    .concerts-container {
        width: 95%;
    }

    .concert-event {
        width: 100%;
    }

    .research-item {
        margin: 10px 0px;
    }

    .contact-frame {
        width: 95%;
    }

    .apps-frame {
        width: 95%;
    }

    footer {
        padding: 50px 30px 70px 30px;
    }
  }