<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/cmd.css"/>
</head>
<body>
    <div class="main-container">
        <div class="composer-container">
            <h1>Search results</h1>
            <div class="search-result">
        <!-- Load search results as links to biography pages -->
        <% if (locals.results.composers) { %>
                <% results.composers.forEach((result) => { %>
                    <a href="biog/<%= result.id %>"><%= result.complete_name %></a>
                <% }); %>
        <% } else { %>
            <h3>No matches found.</h3>
        <% }; %>
            </div>
        </div>
        </div>
    </div>
</body>
</html>